Repository neo4j/docs-cypher, pull requests merged in 2025-09, with the labels that each got.

#1376 Cypher 25 only roles
  modules/ROOT/pages/clauses/filter.adoc
  modules/ROOT/pages/clauses/index.adoc
  modules/ROOT/pages/clauses/let.adoc
  modules/ROOT/pages/clauses/match.adoc
  modules/ROOT/pages/clauses/remove.adoc
  modules/ROOT/pages/clauses/with.adoc
  modules/ROOT/pages/expressions/conditional-expressions.adoc
  modules/ROOT/pages/functions/index.adoc
  modules/ROOT/pages/functions/mathematical-trigonometric.adoc
  modules/ROOT/pages/introduction/cypher-neo4j.adoc
  modules/ROOT/pages/patterns/match-modes.adoc
  modules/ROOT/pages/patterns/reference.adoc
  modules/ROOT/pages/queries/composed-queries/combined-queries.adoc
  modules/ROOT/pages/queries/composed-queries/conditional-queries.adoc
  modules/ROOT/pages/queries/composed-queries/index.adoc
  modules/ROOT/pages/queries/composed-queries/sequential-queries.adoc
  modules/ROOT/pages/queries/index.adoc
  modules/ROOT/pages/subqueries/call-subquery.adoc
  modules/ROOT/pages/subqueries/collect.adoc
  modules/ROOT/pages/subqueries/count.adoc
  modules/ROOT/pages/subqueries/existential.adoc
  package-lock.json
  package.json
  preview.yml
  publish.yml
Labels: cherry-pick-to-cypher-25

#1377 2025.08 release
  antora.yml
  modules/ROOT/images/graph-predicate-functions.svg
  modules/ROOT/images/predicate-function-example.svg
  modules/ROOT/pages/clauses/listing-functions.adoc
  modules/ROOT/pages/clauses/match.adoc
  modules/ROOT/pages/clauses/merge.adoc
  modules/ROOT/pages/deprecations-additions-removals-compatibility.adoc
  modules/ROOT/pages/functions/index.adoc
  modules/ROOT/pages/functions/predicate.adoc
  modules/ROOT/pages/planning-and-tuning/operators/index.adoc
  modules/ROOT/pages/planning-and-tuning/operators/operators-detail.adoc
  modules/ROOT/pages/queries/composed-queries/sequential-queries.adoc
  package-lock.json
  package.json
Labels: Cypher 25

#1381 allReduce to additional Cypher GQL appendix page
  modules/ROOT/pages/appendix/gql-conformance/additional-cypher.adoc
  modules/ROOT/pages/appendix/gql-conformance/index.adoc
Labels: cherry-pick-to-cypher-25

#1375 Add documentation for new LockNodes operator
  modules/ROOT/pages/deprecations-additions-removals-compatibility.adoc
  modules/ROOT/pages/planning-and-tuning/operators/index.adoc
  modules/ROOT/pages/planning-and-tuning/operators/operators-detail.adoc
Labels: team-cypher-runtime, Cypher 25, Cypher 5, 2025.09

#1383 Standardise admonitions (#1382)
  modules/ROOT/pages/clauses/clause-composition.adoc
  modules/ROOT/pages/clauses/foreach.adoc
  modules/ROOT/pages/clauses/load-csv.adoc
  modules/ROOT/pages/clauses/optional-match.adoc
  modules/ROOT/pages/clauses/order-by.adoc
  modules/ROOT/pages/clauses/remove.adoc
  modules/ROOT/pages/clauses/return.adoc
  modules/ROOT/pages/expressions/predicates/comparison-operators.adoc
  modules/ROOT/pages/functions/aggregating.adoc
  modules/ROOT/pages/functions/load-csv.adoc
  modules/ROOT/pages/genai-integrations.adoc
  modules/ROOT/pages/indexes/search-performance-indexes/managing-indexes.adoc
  modules/ROOT/pages/indexes/search-performance-indexes/using-indexes.adoc
  modules/ROOT/pages/indexes/semantic-indexes/full-text-indexes.adoc
  modules/ROOT/pages/indexes/semantic-indexes/vector-indexes.adoc
  modules/ROOT/pages/indexes/syntax.adoc
  modules/ROOT/pages/patterns/primer.adoc
  modules/ROOT/pages/planning-and-tuning/query-tuning.adoc
  modules/ROOT/pages/planning-and-tuning/runtimes/reference.adoc
  modules/ROOT/pages/query-caches/unified-query-caches.adoc
  modules/ROOT/pages/subqueries/subqueries-in-transactions.adoc
  modules/ROOT/pages/syntax/variables.adoc
Labels: cherry-picked, Cypher 5

#1387 fix case-sensitive links to procedures (#1386)
  modules/ROOT/pages/clauses/call.adoc
  modules/ROOT/pages/deprecations-additions-removals-compatibility.adoc
  modules/ROOT/pages/indexes/semantic-indexes/full-text-indexes.adoc
  modules/ROOT/pages/indexes/semantic-indexes/vector-indexes.adoc
  modules/ROOT/pages/introduction/cypher-neo4j.adoc
  modules/ROOT/pages/planning-and-tuning/execution-plans.adoc
  modules/ROOT/pages/planning-and-tuning/runtimes/reference.adoc
  modules/ROOT/pages/subqueries/subqueries-in-transactions.adoc
Labels: cherry-picked, Cypher 5

#1374 Document format function
  modules/ROOT/content-nav.adoc
  modules/ROOT/pages/appendix/gql-conformance/additional-cypher.adoc
  modules/ROOT/pages/deprecations-additions-removals-compatibility.adoc
  modules/ROOT/pages/functions/index.adoc
  modules/ROOT/pages/functions/temporal/format.adoc
  modules/ROOT/pages/values-and-types/temporal.adoc
  package-lock.json
Labels: Cypher 25, 2025.09

#1396 2025.09 publish
  antora.yml
  modules/ROOT/content-nav.adoc
  modules/ROOT/pages/appendix/gql-conformance/additional-cypher.adoc
  modules/ROOT/pages/deprecations-additions-removals-compatibility.adoc
  modules/ROOT/pages/functions/index.adoc
  modules/ROOT/pages/functions/mathematical-logarithmic.adoc
  modules/ROOT/pages/functions/mathematical-numeric.adoc
  modules/ROOT/pages/functions/mathematical-trigonometric.adoc
  modules/ROOT/pages/functions/temporal/duration.adoc
  modules/ROOT/pages/functions/temporal/format.adoc
  modules/ROOT/pages/functions/temporal/index.adoc
  modules/ROOT/pages/planning-and-tuning/operators/index.adoc
  modules/ROOT/pages/planning-and-tuning/operators/operators-detail.adoc
  modules/ROOT/pages/queries/composed-queries/sequential-queries.adoc
  modules/ROOT/pages/values-and-types/temporal.adoc
  package-lock.json
Labels: Cypher 25, 2025.09
